.html {
    background: #5c5c5c;
}

.wrapper {
    width: 100%;
}

.bg-img {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.bg-overlay {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 500px;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

.login-title {
    padding: 10px;
    color: #fefefe;
    text-align: center;
    margin-top: 50px;
}

.navbar {
    max-width: 500px;
    width: 90%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar-item {
    color: #fefefe;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-transform: lowercase;
}

.navbar-item:hover {
    color: #fefefe;
    padding-bottom: 8px;
    border-bottom: #fefefe solid 2px;
}

.navbar-active {
    padding-bottom: 8px;
    border-bottom: yellowgreen solid 2px;
}

.no-background {
    background: none!important;
}

.navbar-2 {
    grid-template-columns: 1fr 1fr;
}

.footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fefefe;
}

.translucent-form-overlay {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    color: #fefefe;
    background-color: rgba(0, 0, 0, 0.5);
}

.translucent-form-overlay .columns.row {
    display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
    color: #5c5c5c;
}

.translucent-form-overlay input::-webkit-input-placeholder {
    color: #adadad;
}

.translucent-form-overlay input:-ms-input-placeholder {
    color: #adadad;
}

.translucent-form-overlay input::placeholder {
    color: #adadad;
}

.weather-box {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fefefe;
    padding: 10px;
}

.city-name {
    text-transform: lowercase;
    font-weight: lighter;
}

.weather-icon {
    font-size: 64px!important;
}

.search-card {
    display: grid!important;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.search-box, .search-button {
    margin-bottom: 0px;
}

.movie-item {
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-top: 2px;
}

.movie-info {
    padding: 10px;
    color: #fefefe;
}

.movie-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info p {
    margin: 0;
}

.error-item {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
    color: #fefefe;
}

.movie-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(154, 205, 50, 0.4);
    text-align: center;
}

.movie-buttons a {
    color: #fefefe;
    padding: 5px;
}

.movie-buttons a:hover {
    background-color: rgb(154, 205, 50, 0.6);
}

.invisible {
    height: 0;
} 

.favorite-card {
    background: rgba(0, 0, 0, 0.6);
    color: #fefefe;
    padding: 10px;
}

.favorite-card h3 {
    font-weight: lighter;
    text-transform: lowercase;
}

.watchlist-card {
    margin-top: 4px;
    background: rgba(0, 0, 0, 0.6);
    color: #fefefe;
    padding: 10px;
}

.watchlist-card h3 {
    font-weight: lighter;
    text-transform: lowercase;
}

.empty-item {
    color: #fefefe;
    text-align: left;
}

.media-selection-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 20px;
    color: #fefefe;
}

.media-selection-card select {
    margin: 0px;
}

.media-selection-card h3 {
    font-weight: lighter;
    text-transform: lowercase;
}